Q1.1WAP to print your name three times

In [ ]:
print("Harshit")
print("Harshit")
print("Harshit")

Harshit
Harshit
Harshit

Q2.1WAP to add three numbers and print the result

In [ ]:
a=int(input('enter the value of a: '))
b=int(input('enter the value of b: '))
c=int(input('enter the value of c: '))

print('sum is: '+ str(a+b+c))

enter the value of a: 10
enter the value of b: 20
enter the value of c: 41
sum is: 71

Q2.2WAP to concatinate three strings and print the result

In [ ]:
str1=input('enter the first string: ')
str2=input('enter the last string: ')
str3=input('enter the middle string: ')

print('concatenated string: '+ str1+' '+str2 + ' ' + str3)

enter the first name: one
enter the last name: two
enter the middle name: three
concatenated string: one two three

Assingment 4.1: WAP to print the table of 7, 9.

In [ ]:
for i in range(1,11):
  print(str(7) + ' * ' + str(i)  + ' = ' + str(7*i))

print('\n')

for i in range(1,11):
  print(str(9) + ' * ' + str(i)  + ' = ' + str(9*i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [ ]:
n=int(input('enter the number: '))
for i in range(1,11):
  print(str(n) + ' * ' + str(i)  + ' = ' + str(n*i))

enter the number: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
n=int(input('enter the number: '))
sum=0
for i in range(1,n+1):
  sum+=i
print('sum is: '+ str(sum))

enter the number: 10
sum is: 55

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [ ]:
a=int(input('enter the value of a: '))
b=int(input('enter the value of b: '))
c=int(input('enter the value of c: '))

maximum=max(a,b,c)
print('maximum number is: '+ str(maximum))

enter the value of a: -2
enter the value of b: 76
enter the value of c: 100
maximum number is: 100

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [ ]:
n=int(input('enter n: '))
sum=0
for i in range(1,n+1):
  if(i%7==0 and i%9==0):
    sum+=i
print('sum is: '+ str(sum))

enter n: 1000
sum is: 7560

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
n=int(input('enter n: '))
sum=0
for i in range(1,n+1):
  if(i>1):
    for j in range(2,i):
      if(i%j==0):
        break
    else:
      sum+=i
print('sum is: '+ str(sum))

enter n: 100
sum is: 1060

Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [ ]:
def sumOdd(n):
  sum=0
  for i in range(1,n+1):
    if(i%2!=0):
      sum+=i
  return sum

n=int(input('enter n: '))
sumOdd(n)

enter n: 60

900

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:
def sumPrime(n):
  sum=0
  for i in range(1,n+1):
    if(i>1):
      for j in range(2,i):
        if(i%j==0):
          break
      else:
        sum+=i
  return sum

n=int(input('enter n: '))
sumPrime(n)

enter n: 40

197